/auto-save-list
/straight
/recentf
/recentf~
/.cache
/elpa
/projectile-bookmarks.eld
/projectile.cache
/.DS_Store
/saveplace
/semanticdb
/tramp
/request
company-statistics-cache.el
eshell
/image-dired
/var/prescient-save.el
/var/pcache/cache
/indium-workspaces.el
/persp-confs
/network-security.data
/magithub
/transient
/.extension
.DS_Store